[Desktop Entry]
Version=1.0
GenericName=gschem
Name=gEDA Schematic Editor
Comment=Create and edit electrical schematics and symbols with gschem
Type=Application
Exec=gschem %F
Icon=geda-gschem
MimeType=application/x-geda-schematic;application/x-geda-symbol;
Categories=Engineering;Electronics;
